// Palette URL: http://paletton.com/#uid=52x0j0kvGhc9-G1o-prPm82++00 */
$color-primary-0: #417C01;	// Main Primary color */
$color-primary-1: #CDEFA8;
$color-primary-2: #74B72B;
$color-primary-3: #1E3A00;
$color-primary-4: #000000;

$color-secondary-1-0: #016C08;	// Main Secondary color (1) */
$color-secondary-1-1: #9ADB9E;
$color-secondary-1-2: #259F2D;
$color-secondary-1-3: #003203;
$color-secondary-1-4: #000000;

$color-secondary-2-0: #638201;	// Main Secondary color (2) */
$color-secondary-2-1: #E5F7AD;
$color-secondary-2-2: #9CC12D;
$color-secondary-2-3: #2E3D00;
$color-secondary-2-4: #000000;

$color-font-primary: #666666;
$color-font-secondary: #ffffff;
$color-link: $color-primary-0;