// Palette URL: http://paletton.com/#uid=5570G0kv1FB3lZ7k6L8F4ouTF72 */
$color-primary-0: #DA078B;	// Main Primary color */
$color-primary-1: #FCE1F2;
$color-primary-2: #E354AE;
$color-primary-3: #980060;
$color-primary-4: #2C001B;

$color-secondary-1-0: #6117C8;	// Main Secondary color (1) */
$color-secondary-1-1: #ECE2FA;
$color-secondary-1-2: #8F5CD6;
$color-secondary-1-3: #3C0884;
$color-secondary-1-4: #100126;

$color-secondary-2-0: #FF3B08;	// Main Secondary color (2) */
$color-secondary-2-1: #FFEAE4;
$color-secondary-2-2: #FF805F;
$color-secondary-2-3: #C32900;
$color-secondary-2-4: #380C00;

$color-font-primary: #666666;
$color-font-secondary: #ffffff;
$color-link: $color-primary-0;