// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 0.5rem;
    position: relative;
    width: 300px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card.journal {
    padding: 1rem;
  }
  // Insert your own theme rules here

  #mainPageContainer {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: url("img/app_mainBG1.jpg");
  }
  //rules for base layout containers
  #headSection {
    padding-bottom: 20px;
  }

  #footerSection {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightsalmon;
    color: #1156a8;
    font-size: 1.2rem;
  }

  #navSection {
    float: left;
    min-width: 150px;
  }
  #appSection {
    float: left;
    min-width: 600px;
  }
  .clearFloat:after {
    content: "";
    display: table;
    clear: both;
  }
  #mainSection {
    min-height: 20px;
  }
  //container views based rules
  #headerLeft {
    width:50%;
    float:left;
  }
  #headerRight {
    width:50%;
    float:right;
    text-align: right;
  }

  #siteLogo div {
    font-size: 1.2rem;
    color: #1e6b15;
    font-weight: bold;
  }

  #headerContainer {
    background-color: #edeff2;
    border-bottom: #7d7d7d 2px solid;
    padding-bottom: 10px;
    box-shadow: 2px 7px 5px #888888;
  }

  .menuBarButton {
    font-weight: bold;
    border: solid 2px black;
    padding: 5px 5px 5px 5px;
    margin-top:2px;
    margin-bottom: 2px;
    width: 100%;
    background-color: #edeff2;
  }
  .menuBarButton:hover {
    background-color: olivedrab;
    color: snow;
  }

  #navMenuWrapper .v-button {
    font-weight: bold;
    border: none;
  }

  .NavVisited {
    background-color: olivedrab;
    color: snow;
  }

  // medicationApp Styles
  #mainTab {
    width:200px;
    float:left;
    border: 1px solid black;
    background-color: #edeff2;
  }
  #addMedicationTab {
    width:200px;
    float:left;
    border: 1px solid black;
    background-color: #edeff2;
  }
  #dataGrid {
    width: auto;
    //border: 1px solid red;
  }

  #medicationAppGrid {
    min-width:900px;
    //border: 1px solid red;
  }

  .medicationAppTabNav {
    box-sizing: border-box;
  }

  .appMenuTab div {
    background-color: #edeff2;
    //width: 100%;
  }

}