// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  * {
    box-sizing: border-box;
  }

  // colors
  // Palette URL: http://paletton.com/#uid=5570G0kv1FB3lZ7k6L8F4ouTF72 */
  $color-primary-0: #DA078B;	// Main Primary color */
  $color-primary-1: #FCE1F2;
  $color-primary-2: #E354AE;
  $color-primary-3: #980060;
  $color-primary-4: #2C001B;

  $color-secondary-1-0: #6117C8;	// Main Secondary color (1) */
  $color-secondary-1-1: #ECE2FA;
  $color-secondary-1-2: #8F5CD6;
  $color-secondary-1-3: #3C0884;
  $color-secondary-1-4: #100126;

  $color-secondary-2-0: #FF3B08;	// Main Secondary color (2) */
  $color-secondary-2-1: #FFEAE4;
  $color-secondary-2-2: #FF805F;
  $color-secondary-2-3: #C32900;
  $color-secondary-2-4: #380C00;

  $color-font-primary: #666666;
  $color-font-secondary: #ffffff;

  // layout
  #mainPageContainer {
    min-width: 768px; // tablets: yes, mobiles: no
  }

  #headSection {
    position: fixed;
    top: 0;
    width: 100%;
    height: 105px;
  }

  #mainSection {
    position: absolute;
    top: 105px;
    width: 100%;
  }

  #footerSection {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #navSection {
    float: left;
    min-width: 150px;
  }

  #appSection {
    float: left;
    min-width: 600px;
  }

  .clearFloat:after {
    content: "";
    display: table;
    clear: both;
  }

  // header
  #headerContainer {
    @include linear-gradient(to top left, $color-primary-2, $color-secondary-1-2);
    padding: 1rem;
    color: $color-font-secondary;
  }

  #siteLogo {
    font-size: $v-font-size--large;
    font-style: $v-font-weight--header;
    margin-bottom: 0.5em;
  }

  #headerLeft {
    float:left;
  }
  #headerRight {
    float:right;
    text-align: right;
  }

  // navigation
  #navSection {

  }

  // main canvas
  #appSection {}

  // footer
  #footerBar {
    @include linear-gradient(to top left, $color-secondary-1-2, $color-primary-2);
    color: $color-font-secondary;
    font-size: $v-font-size--small;
    padding: 0.25em 1em;
  }

  .menuBarButton {
    font-weight: bold;
    border: solid 2px black;
    padding: 5px 5px 5px 5px;
    margin-top:2px;
    margin-bottom: 2px;
    width: 100%;
    background-color: #edeff2;
  }
  .menuBarButton:hover {
    background-color: olivedrab;
    color: snow;
  }

  #navButton {
    color: #ce3812;
  }

  #navMenuWrapper .v-button {
    font-weight: bold;
    border: none;
  }

  .NavVisited {
    background-color: olivedrab;
    color: snow;
  }

  // medicationApp Styles
  #mainTab {
    width:200px;
    float:left;
    border: 1px solid black;
    background-color: #edeff2;
  }
  #addMedicationTab {
    width:200px;
    float:left;
    border: 1px solid black;
    background-color: #edeff2;
  }
  #dataGrid {
    width: auto;
    //border: 1px solid red;
  }

  #medicationAppGrid {
    min-width:900px;
    //border: 1px solid red;
  }

  .medicationAppTabNav {
    box-sizing: border-box;
  }

  .appMenuTab div {
    background-color: #edeff2;
    //width: 100%;
  }

  // Medication detail view
  #medDetailView {
    margin: 15px 10px 10px 10px;
  }
  .medDetailViewData {
    float:right;
  }
  .medDetailViewDescription {
    font-weight: bold;
  }
  #medViewDetailTable {
    border: 0px;
    padding: 0px;
    margin: 0px;
  }
  #medViewDetailTable .v-textfield {
    width: 100%;
  }
  #medDetailViewTitle {
    font-weight: bold;
    font-size: 1.2rem;
  }

  div.btnLeft {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  div.btnMiddle {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  div.btnRight {
    float: right;
    padding-left: 15px;
    padding-right: 15px;;
  }
  #medButtonContainer {
    width: 80%;
  }




  .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 0.5rem;
    position: relative;
    width: 300px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 1rem;
  }
  // Insert your own theme rules here
}