<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-horizontal-layout size-full>
   <vaadin-vertical-layout width="437px" height="418px">
    <vaadin-text-area _id="textFieldResult"></vaadin-text-area>
    <vaadin-text-field caption="Enter your name:" id="textFieldEnterName" _id="textFieldName" :middle></vaadin-text-field>
    <vaadin-button id="BtnSetName" plain-text _id="btnSetName">
      Set Name 
    </vaadin-button>
   </vaadin-vertical-layout>
  </vaadin-horizontal-layout>
 </body>
</html>