<table>
	<tr>
		<td><div data-location="fromLabel"></div></td>
		<td><div data-location="fromField"></div></td>
	</tr>
	<tr>
		<td><div data-location="toLabel"></div></td>
		<td><div data-location="toField"></div></td>
	</tr>
	<tr>
		<td><div data-location="titleLabel"></div></td>
		<td><div data-location="titleField"></div></td>
	</tr>
	<tr>
		<td><div data-location="contentLabel"></div></td>
		<td><div data-location="contentField"></div></td>
	</tr>
	<tr>
		<td></td>
		<td><div data-location="saveButton"></div></td>
	</tr>
	<tr>
		<td></td>
		<td><div data-location="RecurringCheckBox"></div></td>
	</tr>
	<tr>
		<td></td>
		<td><div data-location="IntervalRadioButtonGroup"></div></td>
	</tr>
</table>