<div id="medDetailView">

    <div id="medDetailViewTitle" data-location="medWindowTitle"></div>

    <table id="medViewDetailTable">
        <tr>
            <td><p class="medDetailViewDescription">Medicament:</p></td>
            <td>
                <div data-location="medName" class="medDetailViewData"> </div>
            </td>
        </tr>
        <tr>
            <td><p class="medDetailViewDescription">Start:</p></td>
            <td>
                <div data-location="medStartDate" class="medDetailViewData"></div>
            </td>
        </tr>
        <tr>
            <td><p class="medDetailViewDescription">End:</p></td>
            <td>
                <div data-location="medStopDate" class="medDetailViewData"></div>
            </td>
        </tr>
        <tr>
            <td><p class="medDetailViewDescription">Frequency:</p></td>
            <td>
                <div data-location="medFrequency" class="medDetailViewData"></div>
            </td>
        </tr>
        <tr>
            <td><p class="medDetailViewDescription">Dose:</p></td>
            <td>
                <div data-location="medDose" class="medDetailViewData"></div>
            </td>
        </tr>
    </table>
    <div id="medButtonContainer">
        <div data-location="medEditButton" class="btnLeft"></div> <div data-location="medCancelEditButton" class="btnMiddle"></div> <div data-location="medSaveButton" class="btnRight"></div>
    </div>
</div>