<div id="medDetailView">

    <div id="medDetailViewTitle" data-location="medWindowTitle"></div>

    <table id="medViewDetailTable">
        <tr>
            <td><p class="medDetailViewDescription">Medicament:</p></td>
            <td>
                <div data-location="medName" class="medDetailViewData"> </div>
            </td>
        </tr>
        <tr>
            <td><p class="medDetailViewDescription">Start:</p></td>
            <td>
                <div data-location="medStartDate" class="medDetailViewData"></div>
            </td>
        </tr>
        <tr>
            <td><p class="medDetailViewDescription">End:</p></td>
            <td>
                <div data-location="medStopDate" class="medDetailViewData"></div>
            </td>
        </tr>
        <tr>
            <td><p class="medDetailViewDescription">Frequency:</p></td>
            <td>
                <div data-location="medFrequency" class="medDetailViewData"></div>
            </td>
        </tr>
        <tr>
            <td><p class="medDetailViewDescription">Dose:</p></td>
            <td>
                <div data-location="medDose" class="medDetailViewData"></div>
            </td>
        </tr>
        <tr>
            <td><p class="medDetailViewDescription">Prescribed trough:</p></td>
            <td>
                <div data-location="medPrescriber" class="medDetailViewData"></div>
            </td>
        </tr>
        <tr>
            <td><p class="medDetailViewDescription">Date created:</p></td>
            <td>
                <div data-location="medCreated" class="medDetailViewData"></div>
            </td>
        </tr>
        <tr>
            <td><p class="medDetailViewDescription">Date last modified:</p></td>
            <td>
                <div data-location="medUpdated" class="medDetailViewData"></div>
            </td>
        </tr>
    </table>
    <div data-location="medEditButton"></div> <div data-location="medCancelEditButton"></div> <div data-location="medSaveButton"></div>

</div>